<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layou2-6</title>
  <link rel="stylesheet" href="layout2-6.css">
</head>
<body>
  <header class="overall">

    <div class="bar">
      <div class="barr"></div>
      <div class="bab"></div> 
    </div>
  
      <div class="bar bar-2">
        <div class="barr"></div>
        <div class="bab"></div> 
      </div>
  
      <div class="bar bar-3">
        <div class="barr"></div>
        <div class="bab"></div> 
      </div>
    
    <div class="bar bar-4">
      <div class="barr"></div>
      <div class="bab"><b></b></div> 
    </div>

    <div class="bar bar-5">
      <div class="barr"></div>
      <div class="bab"></div> 
    </div>

  </header>
  
</body>
</html>